#
# ESP TinyUSB Features
#
CONFIG_ENABLE_ESP_TINYUSB_FEATURES=y
CONFIG_USE_SYNOPSYS_DWC2_DRIVER=y

#
# Communication Device Class (CDC)
#
CONFIG_ESP_TINYUSB_CDC_ENABLED=y

#
# Audio Device Class (UAC2)
#
CONFIG_ESP_TINYUSB_AUDIO_ENABLED=y

#
# ESP Signal Generator
#
CONFIG_ENABLE_ESP_SIGNAL_GENERATOR=y
